<div class="container" ng-controller="companyCtrl">
    <br>
    <br>
    <div class="row">
        <div class="text-xs-center">
            <h3><i class="fa fa-building-o"></i> Empresas</h3> </div>
        <div class="row">
            <div class="input-field col s12">
                <select class="" id="tipo" ng-model="selected" ng-options="item.id as item.type for item in options" material-select watch>
                    <option value="" disabled selected>Seleccione un tipo de empresa</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="text" id="name" class="input-field col s12" ng-model="company.name">
                <label class="active" for="name">Nombre</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="text" id="cif" class="input-field col s12" ng-model="company.cif">
                <label class="active" for="cif">CIF</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="text" id="address" class="input-field col s12" ng-model="company.address">
                <label class="active" for="address">Direccion</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="text" id="tel" class="input-field col s12" ng-model="company.phone_number">
                <label class="active" for="tel">Telefono</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="text" id="fax" class="input-field col s12" ng-model="company.fax_number">
                <label class="active" for="fax">Fax</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="email" id="email" class="input-field col s12" ng-model="company.email_address">
                <label class="active" for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="text" id="alta" class="input-field col s12 datepicker" ng-model="company.registry_date_time">
                <label class="active" for="alta">Fecha de alta</label>
            </div>
        </div>
        <div class="row">
            <button class="waves-effect waves-light btn">Cancelar <i class="fa fa-remove"></i></button>
            <button id="update" class="waves-effect waves-light btn" ng-click="updateCompany()">Guardar <i class="fa fa-check"></i></button>
            <button id="insert" class="waves-effect waves-light btn" ng-click="insertCompany()">Insertar <i class="fa fa-check"></i></button>
        </div>
    </div>
    <!--Menu-->
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red"> <i class="fa fa-gear"></i> </a>
        <ul>
            <li data-toggle="tooltip" data-placement="left" title="Borrar"><a class="btn-floating red" ng-click="deleteCompany()"><i class="fa fa-minus"></i></a></li>
            <!--<li data-toggle="tooltip" data-placement="left" title="Editar"><a class="btn-floating blue"><i class="fa fa-pencil"></i></a></li>-->
            <li data-toggle="tooltip" data-placement="left" title="Nuevo"><a id="nuevo" class="btn-floating green" ng-click="limpiarCompany()"><i class="fa fa-plus"></i></a></li>
        </ul>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.datepicker').pickadate();
        $('.mdb-select').material_select();
        //

    });
</script>